{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "css/blog.css" %}">
</head>
<body>
<div id="masthead">
    <div class="container">

        <ul class="nav nav-pills pull-right">
            <li><a href="/blog/">Home</a></li>
            <li><a href="/post/new/">Create a post</a></li>
            <!-- <li><a href="#">Contact</a></li> -->
            <!-- <li><a href="/pages/about/">About</a></li> -->

            {% if user.is_superuser %}
                <li class="active"><a href="/admin/">Admin</a></li>
            {% endif %}
        
        </ul>
        <h1> Stuff and things
            <p id="logo" class="lead">Blog title etc etc etc</p>
        </h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>


<footer>
    <div class="container">

    </div>
</footer>

<script src="https://code.jquery.com/jquery-2.2.2.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


</body>
</html>